{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}

    Home - {{ block.super }}

{% endblock title %}

{% block body %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <h2>Faça suas compras online</h2>
              <div class="line-dec"></div>
              <p>O nosso site é moderno, seguro e fácil de usar. Você pode navegar pelo nosso catálogo de soluções, fazer pedidos, acompanhar entregas e acessar o suporte ao cliente com apenas alguns cliques. 
              <br><br>Não perca tempo e compre o nosso site agora mesmo! Você vai se surpreender com os resultados que podemos oferecer para você e para o seu negócio. O nosso site é a melhor opção para você!.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Featured Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>MAIS VENDIDOS</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-01.jpg' %}" alt="Item 1">
                  <h4>Maçã</h4>
                  <h6>R$ 7.90</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-02.jpg' %}" alt="Item 2">
                  <h4>Whey Protein Concentrado 80% 1KG - Sabor Beijinho</h4>
                  <h6>R$ 122.00</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-03.jpg' %}" alt="Item 3">
                  <h4>Refrigerante Charrua 2L</h4>
                  <h6>R$ 5.00</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-04.jpg' %}" alt="Item 4">
                  <h4>Salgadinho Pererekas 150g</h4>
                  <h6>R$ 7.50</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-05.jpg' %}" alt="Item 5">
                  <h4>Cerveja sem Álcool Heineken </h4>
                  <h6>R$ 5.99</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-06.jpg' %}" alt="Item 6">
                  <h4>Banana</h4>
                  <h6>R$ 3.83</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-07.jpg' %}" alt="Item 7">
                  <h4>Refrigerante Guaraná Dolly 600ml</h4>
                  <h6>R$ 5.99</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-08.jpg' %}" alt="Item 8">
                  <h4>Creatina Monohidratada 250g</h4>
                  <h6>R$ 74.90</h6>
                </div>
              </a>
              <a href="single-product.html">
                <div class="featured-item">
                  <img src="{% static 'assets/images/item-09.jpg' %}" alt="Item 9">
                  <h4>Pão Cacetinho</h4>
                  <h6>R$ 2.97</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featred Ends Here -->


    <!-- Subscribe Form Starts Here -->
    <div class="subscribe-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Acesse nossas redes sociais!</h1>
            </div>
          </div>
          <div class="col-md-8 offset-md-2">
            <div class="main-content">
              <p>Cadastre seu email para receber ofertas exclusivas.</p>
              <div class="container">
                <form id="subscribe" action="" method="get">
                  <div class="row">
                    <div class="col-md-7">
                      <fieldset>
                        <input name="email" type="text" class="form-control" id="email" 
                        onfocus="if(this.value == 'Your Email...') { this.value = ''; }" 
                    	onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                    	value="Your Email..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-5">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">inscrever-se!</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subscribe Form Ends Here -->


    
    <!-- Footer Starts Here -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logo">
              <img src="{% static 'assets/images/header-logo.png' %}" alt="">
            </div>
          </div>
          <div class="col-md-12">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Politica de Privacidade</a></li>
                <li><a href="#">Como funciona?</a></li>
                <li><a href="#">Contato</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="social-icons">
              <ul>
                <li><a href="https://www.facebook.com/UniRitter"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/uniritter"><i class="fa fa-instagram"></i></a></li> 
                <li><a href="https://www.linkedin.com/school/uniritter/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Ends Here -->


    <!-- Sub Footer Starts Here -->
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Copyright &copy; 2023 Grêmio Company 
                
                - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}