{% extends 'base.html' %}

{% block title %}

   Carrinho - {{ block.super }}

{% endblock title %}

{% block body %}
   <div class="container">
       <br />
       <h5><b>Carrinho</b></h5>
       <div class="row">
           <div class="col-md-12">
               <br />
               <table class="table table-hover">
                   <thead>
                       <tr>
                           <th scope="col">id</th>
                           <th scope="col">NOME</th>
                           <th scope="col">PREÇO</th>
                           <th scope="col">QUANTIDADE</th>
                           <th scope="col">TOTAL DO ITEM</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for cart_item in cart_items %}
                           <tr>
                               <td>{{ cart_item.product.id }}</td>
                               <td>{{ cart_item.product.name }}</td>
                               <td>{{ cart_item.product.preco }}</td>
                               <td>{{ cart_item.quantity }}</td>
                               <td>{{ cart_item.get_total }}</td>
                               <td>
                                <a href="{% url 'cart:delete_cartitem' cart_item.product.id %}" class="btn btn-danger btn-sm">LIMPAR</a>
                                <a href="{% url 'cart:decrease_quantity' cart_item.product.id %}" class="btn btn-warning btn-sm">-</a>
                                <a href="{% url 'cart:increase_quantity' cart_item.product.id %}" class="btn btn-primary btn-sm", style="background-color: #006400; color: #ffffff;">+</a>
                            </td>
                           </tr>
                       {% endfor %}
                   </tbody>
               </table>
               <p>PREÇO FINAL: {{ cart_total }}</p>
           </div>
       </div>
   </div>
{% endblock body %}
